<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-injectjs" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>injectjs</name>
  <js-module name="common" src="common.js" />
  <platform name="ios">
    <js-module name="ios" src="ios.js">
      <runs />
    </js-module>
  </platform>
  <platform name="android">
    <js-module name="android" src="android.js">
      <runs />
    </js-module>
  </platform>
</plugin>